@import "../app.component.scss";

* {
    color: $ui-second-text-color;
}

.ui-planning-header {
    float: left;
    width: 100%;
    min-height: 50px;
    border: 1px solid rgb(223, 223, 223);
    box-shadow: 0px 0px 10px 1px rgb(225, 225, 225);
    font-size: 12px;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 50px;
}
.ui-planning-amount {
    float: left;
    width: auto;
    height: 50px;
}
.ui-planning-label {
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    margin-top: -10px;
}
.ui-planning-count {
    height: 20px;
}
.ui-planning-filter { 
    float: right;
    width: auto;
    height: 49%;
}

.ui-planning-filter > input {
    margin-left: 20px;
    width: 100px;
}

.ui-planning-equipments {
    float: left;
    width: 100%;
    height: calc( 100% - 50px );
    padding: 20px;
    text-align: center;
    color: $ui-second-text-color;
}
.ui-planning-equipments-empty {
    display: table;
    width: 450px;
    height: 100%;
    margin: auto;
}
.ui-planning-equipments-empty > span {
    vertical-align: middle;
    line-height: normal;
    display: table-cell;
}
.ui-planning-equipments-header {
    margin: auto;
    width: auto;
    padding-bottom: 20px;
}
.ui-planning-equipments-elements {
    margin: auto;
    width: auto;
    display: table;
}
.ui-planning-equipments-source, .ui-planning-equipments-target {
    display: table-cell;
    font-size: 12px;
    width: 260px;
    height: 50px;
    padding-left: 10px;
}
.ui-planning-equipments-options {
    margin: auto;
    width: auto;
    display: table;
    padding-top: 10px;
}
.ui-planning-equipments-option {
    display: table-cell;
}
.ui-planning-equipments-option-schedule {
    font-size: 12px;
}
.ui-planning-equipments-option-schedule > input {
    margin-left: 10px;
}

.ui-planning-equipment-selector {
    float: left;
    width: 100%;
}

.ui-planning-equipment-boards {
    display: table-cell;
    font-size: 12px;
    width: 260px;
    height: 50px;
    padding-left: 10px;
}
.ui-planning-equipment-board {
    float: left;
    width: 100%;
    height: 20px;
}