<div class = "ui-planning-header">
    <div class = "ui-planning-amount">
        <div class = "ui-planning-label"> Diários de execução </div>
        <div class = "ui-planning-count"> {{ executionDiaries.size }} </div>
    </div>
    <div class = "ui-planning-filter">
        <select class = "ui-select"  [(ngModel)] = "planning.executionDiaryId">
            <option [value] = "-1" [selected] = "true">Selecine um diário</option>
            <option class = "select-option" [value] = "executionDiary.id" *ngFor = "let executionDiary of executionDiaries">
                {{ executionDiary.name }}
            </option>
        </select>
        <input class = "ui-input" [(ngModel)] = "planning.cnl" placeholder = "informe o Cnl" type = "text">
        <input class = "ui-input" [(ngModel)] = "planning.at" placeholder = "informe o At" type = "text">
        <button class = "ui-btn" title = "buscar" (click) = "searchEquipments()">
            <span class = "fa fa-search"></span>
        </button>
    </div>
</div>
<div class = "ui-planning-equipments">
    <div *ngIf = "!planning.equipments" class = "ui-planning-equipments-empty">
        <span>Escolha um diário de execução =)</span>
    </div>
    <div *ngIf = "planning.equipments" >
        <div class = "ui-planning-equipments-header">
            Planejamento da manobra
            <span *ngIf = "planning.schedule" style = "font-size: 12px; margin-left:-7px">, agendado para: <b>{{ planning.schedule }}</b></span>
        </div>
        <div class = "ui-planning-equipments-elements">
            <div class = "ui-planning-equipments-source">
                <div class = "ui-planning-equipment-selector">
                    Equipamento origem:
                    <select #source class = "ui-select" (change) = "setSourceEquipment( source.value )">
                        <option [value] = "null">Equipamento</option>
                        <option *ngFor = "let equipment of planning.equipments.source" [value] = "equipment.id">
                            {{ equipment.name }}
                        </option>
                    </select>
                </div>
                <div *ngIf = "sourceEquipment !== null" class = "ui-planning-equipment-boards">
                    <div class = "ui-planning-equipment-board" *ngFor = "let board of sourceEquipment.boards">
                        {{ board.name }}
                    </div>
                </div>
            </div>
            <div class = "ui-planning-equipments-target">
                <div class = "ui-planning-equipment-selector">
                    Equipamento destino:
                    <select class = "ui-select" [(ngModel)] = "targetEquipment">
                        <option [value] = 'null'>Equipamento</option>
                        <option *ngFor = "let equipment of planning.equipments.target" [value] = "equipment">
                            {{ equipment.name }}
                        </option>
                    </select>
                </div>
                <div *ngIf = "targetEquipment !== null" class = "ui-planning-equipment-boards">
                    <div class = "ui-planning-equipment-board" *ngFor = "let board of targetEquipment.boards">
                        {{ board.name }}
                    </div>
                </div>
            </div>
            <div class = "ui-planning"></div>
        </div>
        <div class = "ui-planning-equipments-options">
            <div class = "ui-planning-equipments-option">
                <div class = "ui-planning-equipments-option-schedule" *ngIf = "isScheduling">
                    <input #schedule id = "schedule" type = "date" (focusout) = "scheduled( schedule.value )">
                </div>
                <button #btn class = "ui-btn" *ngIf = "!isScheduling" (click) = "scheduling( btn )">
                    Agendar
                </button>
            </div>
            <div class = "ui-planning-equipments-option">
                <button class = "ui-btn">
                    <span>Executar agora</span>
                </button>
            </div>
            <div class = "ui-planning-equipments-option">
                <button class = "ui-btn ui-btn-save">
                    Salvar
                </button>
            </div>
        </div>
    </div>
</div>













 <!-- <div class = "ui-stepper-header">
    <div *ngFor = "let step of steps; let i = index"
    [ngClass]="{
      'ui-step': true, 
      'ui-step-not-activated': step.state === -1, 
      'ui-step-actual': step.state === 0, 
      'ui-step-done': step.state === 1
      }">
      <div class = "ui-step-name">
        {{i + 1}}  <span>{{ step.name }}</span>
      </div>
      <div class = "ui-step-divisor" style="float:right;" *ngIf = "i + 1 !== stepsSize">
        <span class = "fa fa-chevron-right"></span>
      </div>
    </div>
  </div> -->