@import "../app.component.scss";
.ui-stepper {
    float: left;
    height: calc(100% - 70px);
    width: 100%;
    padding-top: 10px;
}
.ui-stepper-container {
    float: left;
    width: 100%;
    min-height: 150px;
}
.ui-stepper-navigation {
    float: left;
    width: 100%;
    height: 40px;
    padding-right: 20px;
}
.ui-stepper-form {
    display: flex;
    height: calc(100vh - 300px);
    min-height: 130px;
    align-content: center;
    align-items: center;
}
.ui-stepper-form form {
    margin: auto;
}
.ui-stepper-navigation button {
    margin: auto;
}

.ui-planning-home {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}
.ui-planning-home-option {
    margin: auto;
    display: table;
}