@import "variables.scss";
@import '~@angular/material/theming';


.ui-btn {
    float: left;
    color: $ui-second-text-color;
    font-size: 14px;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
}
.mat-button, 
.mat-flat-button, 
.mat-icon-button, 
.mat-stroked-button {
    min-width: 40px;
    min-height: 40px;
}
.ui-btn-radius {
    color: white;
    text-align: center;
    width: 40px;
    height: 40px;
    margin-top:5px;
    border-radius: 25px;
    padding: 0px;
}

.ui-btn-text {
    height: 35px;
}
.ui-btn-primary {
    background: $ui-btn-primary-color;
    color: $ui-btn-primary-text-color;
    border-radius: 0px;
    border: 1px solid $ui-btn-primary-border !important;
    margin: 0px;
}

.ui-btn-primary:hover {
    background: $ui-btn-primary-hover-color;
}

.ui-select {
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid $ui-primary-border-color;
    height: 30px;
    text-align: center;
    min-width: 100px;
}

.ui-input {
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid $ui-primary-border-color;
    height: 30px;
    text-align: center;
}

.ui-custom-mat-stepper-icon {
    width: 100%;
    height: 100%; 
    background: $ui-primary-color;
    text-align: center;
    border-radius: 14px;
    line-height: 23px;
}

/*
    Overriding materal css

*/
.ui-stepper-container {
    float: left;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}
.ui-form-field {
    float: left;
    margin-left: 20px;
    height: 50px;
    font-size: 12px;
}
/*
    Dropdown
*/
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) { 
    color: $ui-dropdown-text-color;
}
/*
    Input e select
*/
.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $ui-primary-color;
}
.mat-form-field.mat-focused .mat-form-field-label {
    color: $ui-primary-color;
    font-size: 14px;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
    color: $ui-primary-color;
    font-size: 14px;
    margin-top: 2px;
    // text-align: center;
}
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label { 
    transform: translateY(-1.34375em) scale(.95) !important;
}
.mat-form-field-flex {
    height: 50px;
}
.mat-input-element {
    margin-top:10px;
    font-size: 14px;
}
.mat-select {
    margin-top:10px;
}
.mat-select-value {
    font-size: 14px;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: $ui-input-underline-color;
}

/* Stepper */
.mat-step-header .mat-step-icon { 
    background-color: $ui-stepper-header-color;
}
.mat-stepper-horizontal, .mat-stepper-vertical {
    background: $ui-stepper-background-color;
}
.mat-step-header .mat-step-label.mat-step-label-active {
    color: $ui-stepper-label-text-color;
}
.mat-step-header .mat-step-label {
    color: $ui-stepper-label-non-active-text-color
}
.mat-stepper-horizontal-line {
    border-top-color: $ui-stepper-label-divisor-color;
}
.mat-step-header .mat-step-icon-not-touched {
    background-color: $ui-stepper-non-active-header-color;
}
