@import "variables.scss";
@import '~@angular/material/theming';


.ui-btn {
    float: left;
    color: $ui-second-text-color;
    font-size: 14px;
    line-height: 20px;
    width: 40px;
    height: 40px;
}

.ui-btn-text {
    height: 35px;
}
.ui-btn-primary {
    background: $ui-primary-color !important;
    color: $ui-second-border-color;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
}
.ui-btn-tertiary {
    background: $ui-tertiary-color !important;
    color: $ui-second-border-color;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
}

.ui-btn-primary:hover {
    background: rgb(16, 125, 242) !important;
}

.ui-btn-next {
    background: $ui-tertiary-color;
    color: $ui-second-border-color
}

.ui-btn-next:hover {
    background: $ui-tertiary-color;
}


.ui-select {
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid $ui-primary-border-color;
    height: 30px;
    text-align: center;
    min-width: 100px;
}

.ui-input {
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid $ui-primary-border-color;
    height: 30px;
    text-align: center;
}

.ui-custom-mat-stepper-icon {
    width: 100%;
    height: 100%; 
    background: $ui-primary-color;
    text-align: center;
    border-radius: 14px;
    line-height: 23px;
}

/*
    Overriding materal css

*/

.ui-stepper-container {
    float: left;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}
.ui-form-field {
    float: left;
    margin-left: 20px;
    height: 40px;
    font-size: 12px;
}
.ui-progress-bar > rect {
    color: $ui-primary-color;
}
.mat-step-header .mat-step-icon { 
    background-color: $ui-primary-color;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $ui-primary-color;
}
.mat-form-field.mat-focused .mat-form-field-label {
    color: $ui-primary-color;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: $ui-tertiary-color;    
    text-align: center;
}

// .mat-horizontal-stepper-header{
//     pointer-events: none !important;
//     cursor: pointer;
// }
// .mat-horizontal-content-container {
//     padding-bottom: 0px !important;
// }
// .mat-step-header {
//     background-color: red;
// }
// .mat-step-header:hover {
//     background-color: red;
// }


// .mat-stepper-horizontal-line {
//     display: none;
// }
// .mat-step-icon-not-touched {
    
// }