$ui-primary-color: rgb(55, 112, 255);
$ui-primary-text-color: rgb(255, 255, 255);

$ui-second-text-color: rgb(119, 118, 118);
$ui-primary-border-color: rgb(230, 230, 230);
$ui-second-border-color: rgb(255, 255, 255);

/*
    Side Bar
*/
$side-bar-primary-color: rgba(0, 0, 0, 0.8);
$side-bar-second-color: $ui-primary-color;
$ui-side-bar-option-selected: $ui-primary-color;
$ui-side-bar-option-selected-text: rgb(245, 245, 245);
$ui-side-bar-second-text-color: rgb(189, 188, 188);
$ui-side-bar-option-hover: rgba(0, 0, 0 ,0.3);
$ui-side-bar-option: rgba(0, 0, 0 ,0.8);
