/*
    Paleta
*/
$ui-primary-color: rgb(35, 123, 255);
$ui-primary-disabled-color: rgb(160, 160, 160);
$ui-primary-dark-color: rgba(88, 98, 119, 0.562);
$ui-primary-hover-color: rgb(16, 125, 242) !important;
$ui-second-color: rgba(0, 0, 0, 0.8);
$ui-second-hover-color: rgba(0, 0, 0 ,0.3);

$ui-primary-text-color: rgb(255, 255, 255);
$ui-primary-border-color: rgba(243, 243, 243, 0.418);
$ui-primary-dark-text-color:  rgb(54, 54, 54);
$ui-primary-dark-border-color: rgba(85, 85, 85, 0.418);

$ui-second-border-color: rgb(255, 255, 255);
$ui-second-text-color: rgb(185, 184, 184);
$ui-second-dark-border-color: rgba(87, 87, 87, 0.932);
$ui-second-dark-text-color: rgb(110, 110, 110);

$ui-third-dark-text-color:  rgb(112, 112, 112);

$ui-error-color:rgb(255, 57, 31);
/*
    Button
*/
$ui-btn-primary-color: $ui-primary-color !important;
$ui-btn-primary-text-color: $ui-second-border-color;
$ui-btn-primary-border: $ui-primary-border-color;
$ui-btn-primary-hover-color: $ui-primary-hover-color;
$ui-btn-primary-disabled-color: $ui-primary-disabled-color;
/*
    Container
*/
$ui-container-primary-color: none;
/* 
    Login
*/

$ui-login-primary-color: $ui-second-color;

/*
    Nav Bar
*/
$ui-nav-bar-primary-color: $ui-primary-color;
/*
    Side Bar
*/
$ui-side-bar-primary-color: $ui-second-color;
$ui-side-bar-second-color: $ui-primary-color;
$ui-side-bar-option-selected: $ui-primary-color;
$ui-side-bar-option-selected-text: $ui-primary-text-color;
$ui-side-bar-second-text-color: $ui-second-text-color;
$ui-side-bar-option: $ui-second-color;
$ui-side-bar-option-hover: $ui-second-hover-color;
$ui-side-bar-border-color: $ui-primary-dark-border-color;

/*
    Material Inout e Select
*/
$ui-input-underline-color: $ui-primary-dark-border-color;

/*
    Material Stepper
*/
$ui-stepper-non-active-header-color: $ui-primary-dark-color;
$ui-stepper-background-color: none;
$ui-stepper-header-color: $ui-primary-color;

$ui-stepper-label-text-color: $ui-primary-dark-text-color;
$ui-stepper-label-non-active-text-color: $ui-second-dark-text-color;;
$ui-stepper-label-divisor-color: $ui-primary-dark-border-color;
$ui-stepper-header-completed: rgb(40, 185, 52);


/*
    Dropdown
*/
$ui-dropdown-text-color: $ui-primary-dark-text-color;

/*
    MAT CARD
*/
$ui-mat-card-color: transparent;
$ui-mat-card-text-color: $ui-second-dark-text-color;
// $ui-mat-card-color: $ui-second-color;
// $ui-mat-card-text-color: $ui-primary-text-color;
$ui-mat-card-box-shadow-color: $ui-second-color;
$ui-mat-card-border-color: $ui-primary-dark-border-color;

