@import "../massive.component.scss";

.ui-stepper-form {
    float: left;
    width: 100%;
    height: calc(100% - 70px);
    margin-top: -20px;
}
.ui-source-board, .ui-target-board {
    float: left;
    height: 100%;
    width: 30%;
}
.ui-change-form {
    margin: auto;
    width: 60%;
    max-width: 180px;
    height: 60px;
}
.ui-equipments-boards {
    float: left;
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: auto;
    padding-right: 4px;
    overflow-x: hidden;
    padding-top: 10px;
}
.ui-equipment-boards, .ui-equipment-board-empty {
    float: left;
    width: 100%;
    min-height: 20px;
    text-align: center;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    color: $ui-third-dark-text-color;
}
.ui-equipment-board-empty {
    display: flex;
    align-content: center;
    align-items: center;
    height: calc(100% - 60px);
    padding: 0px;
    margin-top: -35px;
}
.ui-equipment-board {
    float: none;
    z-index: 2;
    width: 100%;
    max-width: 120px;
    min-height: 20px;
    height: auto;
    max-height: auto;
    font-size: 12px;
    white-space: normal;
    word-wrap: break-word;
    margin: auto;
    margin-top: 4px;
    padding: 2px;
}
.ui-boards-change {
    float: left;
    position: relative;
    width: 40%;
    padding: 10px;
    height: 100%;
    border: 1px dashed $ui-primary-dark-border-color;
    text-align: center;
    color: $ui-third-dark-text-color;
    overflow-y: auto;
    z-index: 2;
}
.ui-board-change {
    float: left;
    position: relative;
    width: 100%;
    min-height: 40px;
    border: 1px solid $ui-primary-dark-border-color;
    margin-top:20px;
}
.ui-board-change-source, .ui-board-change-target {
    float: left;
    width: 100%;
    min-height: 20px;
}
.ui-board-change-source {
    border-bottom: 1px dashed $ui-primary-dark-border-color;
}

.ui-board-change-empty {
    float: left;
    color: $ui-third-dark-text-color;
    width: 100%;
    text-align: center;
    font-size: 10px;
    padding-top: 2px;
}
.ui-board-change-description {
    float: left;
    padding: 5px;
    color: $ui-third-dark-text-color;
    width: 100%;
    font-size: 10px;
    text-align: left;
}

.ui-form-field {
    width: 100%;
    text-overflow: ellipsis;
    margin: 0px;
}
.ui-drop-place-empty {
    display: flex;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.ui-board-remove-change {
    float: right;
    position: absolute;
    font-size: 16px;
    right: 2px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.ui-board-remove-change:hover {
    color: $ui-alert-color;
}