<div class = "ui-stepper-form">
    <div class = "ui-source-board">
        <form [formGroup] = "form" class = "ui-change-form">
            <mat-form-field class = "ui-form-field"  formGroupName="massivePlanning">
                <mat-select placeholder="Equipamento de origem" requerid formControlName="sourceEquipmentId"
                (selectionChange) = "equipmentChanged()">
                    <mat-option *ngFor = "let equipment of equipments" [value] = "equipment.id" >
                        {{ equipment?.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <div class = "ui-equipments-boards" *ngIf = "massivePlanning?.sourceEquipmentId && sourceEquipmentBoards.length !== dragController.elements['source']?.length" style = "transform: scaleX(-1)">
            <div class = "ui-equipment-boards" style = "transform: scaleX(-1);" *ngFor = "let board of sourceEquipmentBoards">
                <button #elem mat-button class = "ui-btn ui-btn-draggable ui-equipment-board" (drag) = "drag($event, board.id, 'source')"
                (dragend) = "dragEnd($event)"
                [disabled] = "!canDrag('source')"
                [draggable] = "canDrag('source')">
                    {{ board.name }}
                    {{ controllerElement(elem, board, 'source') }}
                </button>
            </div>
        </div>
        <div class = "ui-equipment-board-empty" *ngIf = "!massivePlanning?.sourceEquipmentId || sourceEquipmentBoards.length === dragController.elements['source']?.length">
            <div style = "margin:auto">
                {{ (!massivePlanning?.sourceEquipmentId) ? "Selecione equipamento de origem" : "Nenhuma placa" }}
            </div>
        </div>
    </div>
    <div class = "ui-boards-change" (dragover)="dropOver($event)" (drop)="drop($event)">
        <div #dropPlace hidden = "true">
        </div>
        <div class = "ui-board-change" *ngFor = "let boardChange of massivePlanning?.boardsChange">
            <div class = "ui-board-change-source">
                <div *ngIf = "!boardChange.sourceBoardId" class = "ui-board-change-empty">
                    Arraste uma placa do equipamento de origem
                </div>
                <div *ngIf = "boardChange.sourceBoardId" class = "ui-board-change-description">
                    <b>  Origem: </b> {{getBoardById(boardChange.sourceBoardId, 'source').name }}
                    <b>  Quantidade de porta atuais: </b> {{ getBoardById(boardChange.sourceBoardId, 'source').ports.length }}
                </div>
            </div>
            <div class = "ui-bord-change-target">
                <div *ngIf = "!boardChange.targetBoardId" class = "ui-board-change-empty">
                    Arraste uma placa do equipamento de destino
                </div>
                <div *ngIf = "boardChange.targetBoardId" class = "ui-board-change-description">
                    <b>  Destino: </b> {{ getBoardById(boardChange.targetBoardId, 'target').name }}
                    <b>  Quantidade de portas atuais: </b> {{ getBoardById(boardChange.targetBoardId, 'target').ports.length }}
                </div>
            </div>
        </div>
        <div *ngIf = "dragController?.elements.size === 0" class = "ui-drop-place-empty">
            <div style = "margin: auto;">Arraste as placas a serem manobradas</div>
        </div>
    </div>
    <div class = "ui-target-board">
        <form [formGroup] = "form" class = "ui-change-form">
            <mat-form-field class = "ui-form-field"  formGroupName="massivePlanning">
                <mat-select #targetSelector placeholder="Equipamento de destino" requerid formControlName="targetEquipmentId" 
                (selectionChange) = "equipmentChanged()">
                    <mat-option *ngFor = "let equipment of equipments" [value] = "equipment.id" selected>
                        {{ equipment?.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>   
        </form>
        <div class = "ui-equipments-boards" *ngIf = "massivePlanning?.targetEquipmentId && targetEquipmentBoards.length !== dragController.elements['target']?.length">
            <div class = "ui-equipment-boards" *ngFor = "let board of targetEquipmentBoards">
                <button #elem mat-button class = "ui-equipment-board ui-btn ui-btn-draggable" (drag) = "drag($event, board.id, 'target')"
                (dragend) = "dragEnd($event)"
                [disabled] = "!canDrag('target')"
                [draggable] = "canDrag('target')">
                    {{ board.name }}
                    {{ controllerElement(elem, board, 'target') }}
                </button>
            </div>
        </div>
        <div class = "ui-equipment-board-empty" *ngIf = "!massivePlanning?.targetEquipmentId || targetEquipmentBoards.length === dragController.elements['target']?.length">
            <div style = "margin:auto">
                {{ (!massivePlanning?.targetEquipmentId) ? "Selecione equipamento de destino" : "Nenhuma placa" }}
            </div>
        </div>
    </div>
</div>
<div class = "ui-stepper-navigation">
    <button mat-button class = "ui-btn ui-btn-reverse" *ngIf = "step?.number !== 0" (click) = "eventBackward()">
        <span>Voltar</span>
    </button> 
    <button [disabled] = "!simulationResult || simulationResult.length > 0" mat-button class = "ui-btn ui-btn-primary ui-btn-text" style = "float: right" (click) = "eventSave()">
        <span>Continuar</span>
    </button>
    <button mat-button class = "ui-btn ui-btn-primary ui-btn-text" style = "float: right; margin-right: 10px;" (click) = "eventSimulation()">
        <span> Simular </span>
    </button>
</div>
    