@import "../../../planning.component.scss";

.ui-symbol {
    float: left;
    width: 100%;
    font-size: 45px;
    text-align: center;
    color: $ui-alert-color;
}

.ui-error-symbol {
    color: $ui-alert-color;
}
.ui-success-symbol {
    color: $ui-success-color;
}
.ui-message {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
}

.ui-modal-actions {
    width: 100%;
    align-items: center;
    align-content: center;
}