<div class = "ui-stepper-form">
    <form [formGroup] = "form">
        <mat-form-field class = "ui-form-field">
            <input matInput placeholder="At" formControlName="at" required>
        </mat-form-field>
        <mat-form-field class = "ui-form-field">
            <input matInput placeholder="Cnl" formControlName="cnl" required>
        </mat-form-field>
        <mat-form-field class = "ui-form-field">
            <mat-select placeholder="Diário de execução" requerid>
                <mat-option *ngFor = "let executionDiary of executionDiaries" [value] = "executionDiary.id" >
                    {{ executionDiary?.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
    