@import "../../custom-elements.scss";

.ui-nav-bar {
    float: left;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    padding-left: 30px;
    padding-right: 30px;
    color: $ui-primary-text-color;
    line-height: 50px;
    background: none;
}
.ui-nav-bar-system-name {
    float: left;
    height: 100%;
    color: $ui-primary-text-color;
}
.ui-nav-bar-user {
    float: right;
    width: 50px;
    height: 100%;
}
.ui-nav-bar-user-photo {
    float: left;
    width: 100%;
    height: 100%;
    font-size: 18px;
}
