<mat-toolbar class = "ui-nav-bar">
  <div class = "ui-nav-bar-system-name">
    Manobra
  </div>
  <div class = "ui-nav-bar-user">
    <div class = "ui-nav-bar-user-photo" [matMenuTriggerFor]="menu">
      <button mat-button class = "ui-btn ui-btn-radius">
        <span *ngIf = "!havePhoto()" class = "fa fa-user-circle" ></span>
      </button>
    </div>
    <div class = "ui-nav-bar-user-menu">
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click) = "doLogout()">
          <span class = "fa fa-sign-out"></span>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>