# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# compiled output
/engine/dist
/engine/tmp
/engine/out-tsc

# IDEs and editors
/engine/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/engine/.sass-cache
/engine/connect.lock
/engine/coverage
/engine/libpeerconnection.log
/enginenpm-debug.log
/engineyarn-error.log
/enginetestem.log
/engine/typings

# System Files
/engine.DS_Store
/engineThumbs.db
