@import "../custom-elements.scss";
.ui-nav {
    float: left;
    width: 100%;
    height: 50px;
}

.ui-container {
    float: left;
    height: calc(100% - 50px);
    padding: 20px;
    overflow-y: auto;
}
.ui-side {
    float: left;
}
@media(max-width: 800px) {
    .ui-side {
        width: 100%;
    }
    .ui-container {
        width: 100%;
    }
}
@media(min-width: 801px) {
    .ui-side {
        width: 200px;
        height: calc(100% - 50px);
    }
    .ui-container {
        width: calc(100% - 200px);
    }
}