@import "../custom-elements.scss";
.ui-container {
    float: left;
    width: calc(100% - 220px);
    height: calc(100% - 50px);
    padding: 20px;
}
.ui-nav {
    float: left;
    width: 100%;
    height: 50px;
}
.ui-side {
    float: left;
    width: 220px;
    height: calc(100% - 50px);
}